/* ignorecss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Academic Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;600&display=swap');

html, body {
  background-color: #FAFAFA;
  color: #1a1a1a;
}